- title "#{@treatment_area.name} Checkout"

= header do
  %h1= "#{@treatment_area.name} Checkout"

- @patients_table.controls(self, &checkout_controls_lambda(@treatment_area))

= render "patients/patients"
